{% extends 'base.html' %}
{% if messages %}
{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% block page_content %}
<div class="card mb-2">
	<div class="card-body">
		<h5 class="card-title">{{ project.title }}</h5>
		<p class="card-text">{{ project.description }}</p>
		<form method="POST">
			{% csrf_token %}
			<h2>Login</h2>
			{{form.as_p}}
			<button type="submit" class="btn btn-primary">Login</button>
			<p>Don't have an account? <a href="{%url 'register' %}" class="btn btn-primary" role="button">Register</a></p>
		  </form>
	</div>
</div>

{% endblock page_content %}