{% extends 'base.html' %}

{% block page_content %}

<h1> Register here...</h1>

<div class="card mb-2">
	<div class="card-body">
		<h5 class="card-title">{{ project.title }}</h5>
		<p class="card-text">{{ project.description }}</p>
        <form method="POST" novalidate>
            {% csrf_token %}
            <h2>Sign Up</h2>
            {% for field in form %}
            <p>
                {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                 {{ field.label_tag }} {{ field }}
            </p>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
	</div>
</div>

{% endblock page_content %}